html,
body,
#root {
  width: 100vw;
  height: 100vh !important;
  max-width: 100%;
  max-height: 100%;
}

// For stories
.checkered-background-light {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(45deg, #ccc 25%, #fff 25%);

  background-size: 30px 30px;

  background-position: 0 0, 0 0, -15px -15px, 15px 15px;
}

.checkered-background-dark {
  background-image: linear-gradient(45deg, #777 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #777 75%),
    linear-gradient(45deg, transparent 75%, #777 75%),
    linear-gradient(45deg, #777 25%, #ccc 25%);

  background-size: 30px 30px;

  background-position: 0 0, 0 0, -15px -15px, 15px 15px;
}

//For file input
.custom-horizontal-scrollbar {
  overflow-x: scroll;
  overflow-x: overlay;
  /* Works on Firefox */
  scrollbar-width: thin;
}

.custom-horizontal-scrollbar::-webkit-scrollbar {
  /* Works on Chrome, Edge, and Safari */
  height: 2px;
}

.custom-horizontal-scrollbar:hover::-webkit-scrollbar {
  /* Works on Chrome, Edge, and Safari */
  height: 4px;
}

.custom-horizontal-scrollbar::-webkit-scrollbar-thumb {
  /* Works on Chrome, Edge, and Safari */
  background-color: black;
  border-radius: 20px;
  border-bottom: 1px solid var(--global-background);
  cursor: pointer;
}
